@import "~vue-material/dist/theme/engine"; // Import the theme engine
@import './clixassets/heroclixfont/HCIcons';
@import './clixassets/myicons-v1.0/style';
@import './variables';

@include md-register-theme("default", (
  primary: #7f7f7f, // The primary color of your brand
  accent: #DDDDDD // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

div {
  transition: 500ms;
  color: $dark_gray;
}

.rounded {
  border-radius: 6px;
}

.form {
  padding: 12px;
}

.title {
  font-size: 24px;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 2px solid $dark_gray;
}

.header {
  font-size: 18px;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto
}

.align-center {
  align-items: center;
}

.middle {
  text-align: center;
  justify-content: center;
}